<div class="card mt-5">
  <div class="card-header">Bienvenue sur City Companion</div>
  <div class="card-body">
  <p>Avec City Companion, soyez informés de l'etat de vos transport en commun/ du traffic routier entre votre domicile et votre lieu de travail</p>
    <ul>
      <li>Bus/Metro/Tramway/RER d'Ile-de-France</li>
      <li>Traffic Routier (Domicile-Travail) Dans le monde entier</li>
    </ul>
    <p>Parez tout imprevu et retard au travail ! City Companion vous envoies un mail tous les jours contenant les informations du traffic sur votre chemin avant votre depart
    vous pouvez donc savoir si vous pouvez sortir de chez vous a l'heure de depart habituelle ou faudra sortir un peu plus tot aujourd'hui pour arriver a l'heure</p>
    <p>Retrouvez aussi la meteo du jour et ainsi que la qualité de l'air !</p>
    <p>Vous aurez donc le taux des polluants de l'air suivant :</p>
    <ul>
      <li>PM 2.5 (les particules les plus fines donc les plus dangereuses)</li>
      <li>PM 10</li>
      <li>O3(Ozone)</li>
    </ul>
    <p>Si les données au dessus ne vous parlent pas, nous avons ajouté l'index global de qualité de l'air fourni par EPA (Environmental Protection Agency) et ainsi que le desciptif de cet Index</p>
    <footer>
     <p>A Venir :
       L'integration du systeme de transport en commun de plusieurs autres metropoles...</p>
    </footer>

  </div>

</div>
