<!doctype html>

<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Accueil</title>
</head>

<body>
    <div class="card mt-2 tab-card">
      <div class="card-header tab-card-header">
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="One" aria-selected="true">Méteo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="Two" aria-selected="false">Qualité de L'air</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="Three" aria-selected="false">Traffic routier</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="four-tab" data-toggle="tab" href="#four" role="tab" aria-controls="Four" aria-selected="false">Transport en commun</a>
          </li>
        </ul>
      </div>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
          <div class="card-body">
            <h5 class="card-title">Meteo</h5>
            <p class="card-text">Pluie : {{dashboardInfo.weather.rain}}  ({{dashboardInfo.weather.rainProbability}}%)</p>
            <p class="card-text">Température : {{dashboardInfo.weather.temperature}} °C</p>
            <p class="card-text">Température ressentie: {{dashboardInfo.weather.feelsLike}} °C</p>
            <p class="card-text float-right">Date : {{dashboardInfo.date}}</p>
          </div>
        </div>
        <div class="tab-pane fade p-3" id="two" role="tabpanel" aria-labelledby="two-tab">
          <div class="card-body">
            <h5 class="card-title">Qualite de l'air </h5>
            <p class="card-text">Index : {{dashboardInfo.airQuality.index}}</p>
            <p class="card-text">Qualité : {{dashboardInfo.airQuality.quality}}</p>
            <p class="card-text">Concentration de particules : </p>
            <p class="card-text">PM2.5 : {{dashboardInfo.airQuality.pm25}} µg/m³</p> <p class="card-text">PM10 : {{dashboardInfo.airQuality.pm10}} µg/m³</p>  <p class="card-text">O2 : {{dashboardInfo.airQuality.o3}} µg/m³</p>
            <p class="card-text float-right">Date : {{dashboardInfo.date}}</p>
          </div>
        </div>
        <div class="tab-pane fade show  p-3" id="three" role="tabpanel" aria-labelledby="three-tab">
          <h5 class="card-title">Traffic Routier</h5>
          <div class="card-body">
            <p class="card-text">Votre Adresse : {{dashboardInfo.carTraffic.address}}</p>
            <p class="card-text">Destination : {{dashboardInfo.carTraffic.destination}}</p>
            <h5 class="card-title">Condition de circulation</h5>
            <p class="card-text">Temps de parcours normal : {{dashboardInfo.carTraffic.travelTime}}</p>
            <p class="card-text">Temps de parcours estimé actuel : {{dashboardInfo.carTraffic.estimatedTravelTime}}</p>
            <p class="card-text float-right">Date : {{dashboardInfo.date}}</p>
          </div>
        </div>
        <div class="tab-pane fade show  p-3" id="four" role="tabpanel" aria-labelledby="four-tab">
          <h5 class="card-title">Transport en commun</h5>
          <div class="card-body">
            <h5 class="card-title">Condition du reseau de transport en commun</h5>
            <p class="card-text col-6">Ligne : {{dashboardInfo.publicTransport.transportLine}}</p>
            <p class="card-text col-6">Arret : {{dashboardInfo.publicTransport.station}}</p>
            <p class="card-text">Etat de la ligne : {{dashboardInfo.publicTransport.lineStatus}}</p>
            <p class="card-text">Prochains départ :   </p>
            <tr *ngFor="let departure of dashboardInfo.publicTransport.nextDepartures">
              <td>{{departure.destination}} : </td>
              <td class="ml-2">{{departure.message}}</td>
            </tr>
            <p class="card-text float-right">Date : {{dashboardInfo.date}}</p>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
